extends ./layouts/master.pug
block append vars
    - var controller = "REGISTER"
block title
    title Register | Express Deux Rues
block content
    div(class="page-header")
        div(class="centered")
            a(href="javascript:;", class="logo")
                img(src="img/logo@2x.png", alt="Logo")
            p Register here!
    div(class="container")
        form(id="register")
            div(class="row form-row")
                div(class="six columns form-group")
                    label(for="") Name
                    input(class="u-full-width form-control", type="text", name="name")
                div(class="six columns form-group")
                    label(for="") Email
                    input(class="u-full-width form-control", type="email", name="email")
            div(class="row form-row")
                div(class="six columns form-group")
                    label(for="") Password
                    input(class="u-full-width form-control", type="password", name="password")
                div(class="six columns form-group")
                    label(for="") Password Confirmation
                    input(class="u-full-width form-control", type="password", name="password_confirmation")
            button(type="submit") Register
                    