if phonegap
    script(type="text/javascript", src="cordova.js")
    
// scripts
script(type="text/javascript", src="js/application/base.min.js?v=" + site.timestamp)
script(type="text/javascript", src="js/application/application.min.js?v=" + site.timestamp)
script(type="text/javascript", src="js/main.min.js?v=" + site.timestamp)

block scripts