nav(class="navbar clearfix")
    div(class="navbar-left clearfix")
        a(href="#", class="brand text-brand") Application
        button(class="sidebar-toggle")
            i(class="fa fa-bars", aria-hidden="true")
        
    ul(class="navbar-right navbar-icons")
        li(class="dropdown")
            a(href="javascript:;")
                i(class="fa fa-user", aria-hidden="true")
            ul(class="dropdown-menu")
                li()
                    a(href="javascript:;") Profile
                li()
                    a(href="javascript:;") Some very large item
    
    div(id="appsidebar", class="nav-sidebar")
        ul(class="menu")
            li(class="nav-header") Main Menu
            li(class="active")
                a(href="#") Dashboard
            li
                a(href="#") Services
            li
                a(href="#") Event
            li
                a(href="#") Contact